.guadianLogin {
  width: 80vmax;
}
.guardianLogin form {
  height: 50%;
  width: 80%;
}
.guardianLogin .card {
  opacity: 85%;
  margin-top: 200px;
  width: 50%;
  box-shadow: 0px 0px 40px 40px #ffffff1f;
  border-style: none;
}
@media only screen and (max-width: 600px) {
  .guardianLogin .card {
    width: 80%;
    margin-top: 50px;
  }
}
.guardianLogin {
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("https://www.eschoolnews.com/files/2017/07/classroom.jpg");
}
