@keyframes unblur {
  0% {
    filter: blur(6px);
  }
  25% {
    filter: blur(4px);
  }
  50% {
    filter: blur(2px);
  }
  100% {
    filter: blur(0px);
  }
}
@keyframes blur {
  0% {
    filter: blur(0px);
  }
  25% {
    filter: blur(2px);
  }
  50% {
    filter: blur(4px);
  }
  100% {
    filter: blur(6px);
  }
}
.landingPage {
  height: 95vh;
}
.landingPage .centerImage {
  position: absolute;
  top: 50%;
  left: -23px;
  color: white;
}
.landingPage p {
  color: white;
  font-size: 4vw;
}
.landingPage .schoolView {
  animation-name: blur;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("https://img.freepik.com/free-vector/stack-books-graphic-illustration_53876-8852.jpg?w=1380");
}
.landingPage .guardianView {
  animation-name: blur;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("https://img.freepik.com/free-vector/mom-dad-watch-their-adorable-son-read-book_73637-671.jpg?t=st=1646444757~exp=1646445357~hmac=b3787c4dc6a902b3c2d9772c0eddac9072a78c6a8d331960d0ea8284cfba2b7d&w=1380");
}
.landingPage .guardianView .splitText {
  box-shadow: 0px 10px 20px 10px #616161;
  border-radius: 30px;
  opacity: 70%;
}
.landingPage .schoolView .splitText {
  box-shadow: 0px 10px 20px 10px #616161;
  border-radius: 30px;
  opacity: 70%;
}
.landingPage .schoolView:hover {
  animation-name: unblur;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}
.landingPage .guardianView:hover {
  animation-name: unblur;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}
.landingPage .schoolView .splitText:hover {
  opacity: 100%;
}
.landingPage .guardianView .splitText:hover {
  box-shadow: 0px 10px 20px 10px #616161;
  border-radius: 30px;
  opacity: 100%;
}
.landingPage .guardianView .splitText:hover p {
  color: rgb(212, 182, 12);
}
.landingPage .schoolView .splitText:hover p {
  color: #3db49a;
}
.landingPage .centerImage {
  background-color: white;
  height: 15vmin;
  width: 15vmin;
  border-radius: 50%;
  border-style: solid;
  display: inline-block;
  background-size: 85%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("https://media0.giphy.com/media/8YQiA97lXP41kZJRxQ/giphy.gif?cid=6c09b9523g5eqtxz83bvdm72z89p0g0stxazwsubunyxdoer&rid=giphy.gif&ct=s");
}
.landingPage .splitText .route {
  text-decoration: none;
}
@media only screen and (max-width: 576px) {
}
