.school-home-img {
  margin-top: 50px;
}
.SchoolHomeNavbar .setting-position {
  margin-left: 1800%;
}
h4 .SchoolHomeNavbar {
  font-size: 10px;
  position: absolute;
  margin-top: 10px;
}
.SchoolHome {
  display: block;
  background-color: #48e;
}
.SchoolHome .towhite {
  color: white;
}
.SchoolHome .text {
  text-justify: auto;
  margin: auto;
  width: 800px;
}
.SchoolHome .box-modeling {
  display: inline-block;
  margin-top: 40px;
}
.SchoolHome .box {
  border: 1px solid black;
  border-radius: 6px;
  margin-right: 40px;
  margin-left: 50px;
  margin-top: 30px;
  height: 500px;
  width: 800px;
}
.SchoolHome .box-1 {
  display: inline-block;
  background: rgb(0, 255, 191);
}
.SchoolHome .box-2 {
  display: inline-block;
  background: rgb(0, 255, 191);
}
.SchoolHome .box-3 {
  display: inline-block;
  background: rgb(0, 255, 191);
}
.SchoolHome .box-4 {
  display: inline-block;
  background: rgb(0, 255, 191);
}

/* dropdown */

.dropbtn {
  background-color: #48e;
  color: white;
  margin-top: 8px;
  padding: 5px;
  font-size: 16px;
  border: none;
}
.dropdown {
  margin-left: 1900%;
  position: relative;
  display: inline-block;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  background-color: #48e;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.dropdown:hover .dropdown-content {
  display: block;
}
.dropdown:hover .dropbtn {
  background-color: #3e8e41;
}
