.toblack {
  color: black;
}
.container {
  display: flex;
  margin: auto;
  padding-right: 250px;
  color: white;
}
.text- {
  text-align: center;
  margin: auto;
  margin-left: 24%;
  display: block;
  width: 317px;
  height: 500px;
}
input {
  background-color: #dad8d8;
}
.information {
  font-size: 20px;
  padding-top: 120px;
  display: inline;
  text-align: center;
  background: rgb(255, 0, 83);
  background: linear-gradient(
    90deg,
    rgba(255, 0, 83, 1) 43%,
    rgba(99, 7, 55, 1) 100%,
    rgba(0, 212, 255, 1) 100%
  );
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  margin-left: 0;
  border: 1px solid black;
  width: 600px;
  height: 550px;
}
.form {
  background-color: white;
  width: 350px;
  height: 550px;
  border: 1px solid black;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  padding-right: 0;
  margin-right: 0;
}
.tow {
  margin-top: -20px;
}
