* {
  box-sizing: border-box;
}
.box {
  display: flex;
  margin-right: 0px;
  margin-left: 0px;
  justify-content: center;
}
.login-form {
  background-color: white;
  border: 1px solid black;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  width: 350px;
  height: 460px;
}
.right-side {
  background: rgb(255, 0, 83);
  background: linear-gradient(
    90deg,
    rgba(255, 0, 83, 1) 43%,
    rgba(99, 7, 55, 1) 100%,
    rgba(0, 212, 255, 1) 100%
  );
  border: 1px solid black;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  width: 400px;
  height: 460px;
  padding-top: 100px;
  text-align: center;
}
h1 {
  margin-top: 20px;
}
.towhite{
    color: white;
}