.guardianLogin {
  width: 80%;
}
.guardianLogin form label {
  float: left;
  font-size: 0.9rem;
}
.guardianLogin form {
  opacity: 90%;
  height: 50%;
  width: 80%;
  background-color: white;
  display: inline-block;
  border-radius: 2px;
  padding: 2rem;
  margin: 2rem 0 1rem 0;
}
.guardianLogin .card {
  margin-top: 200px;
  width: 50%;
  box-shadow: 0px 0px 40px 40px #ffffff1f;
  border-style: none;
  background-image: url("https://www.eschoolnews.com/files/2017/07/classroom.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
@media only screen and (max-width: 900px) {
  .guardianLogin .card {
    width: 100%;
    margin-top: 50px;
  }
  .guardianLogin form {
    width: 100%;
  }
  .guardianLogin {
    width: 100%;
  }
}
.guardianLogin input {
  background-color: rgba(172, 172, 172, 0.678);
}
.guardianLogin input:focus {
  background-color: grey;
}
.guardianLogin .loginBtn button {
  margin-bottom: 20px;
  margin-right: 70px;
}
